*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.white {
	color: white;
}

.blue {
	color: #072AC8;
}

.light-blue{
	color: #a2d6f9;
}

.blue2 {
	color: #0082f3;
}

.grey {
	color: #292E47;
}

.medium-grey {
	color: #514D67;
}

.light-grey {
	color: #6B708D;
}

.yellow {
	color: #FFC600;
}


h2 {
	font-size: 30px;
	font-weight: 700;
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

h4{
	font-size: 17px;
	font-weight: 400;
}

h5{
	font-size: 17px;
	font-weight: 500;
}

h5{
	font-size: 17px;
	font-weight: 500;
}

h6 {
	font-size: 13px;
	font-weight: 500;
}

body {
	background-color: #F2F4FC;
}

/* @media only screen and (max-width: 902px) {} */

h1 {
	font-size: 30px;
	font-weight: 700;
}

.vertical-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	margin: 0;
}

.button-blue {
	background-color: #072AC8;
	color: white;
	text-decoration: none;
	padding: 15px 30px;
	font-size: 17px;
	font-weight: 500;
}

/* ------------------------HEADER -----------------------*/

header {
	display: flex;
	flex-direction: column;
}

.menu-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 6%;
}

.image-logo {
	width: 60px;
	height: 18px;
}

.menu-input{
	display: none;
	position: absolute;
	right: 6vw;
}

label {
	position: absolute;
	height: 2vh;
	width: 7vw;
	right: 6vw;
}

.lines {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	gap: 0.6vh;
	height: auto;
}

hr {
	height: 0.2vh;
	background-color: black;
	border: none;
}

nav {
	width: 100vw;
}

ul{
	padding: 0;
	list-style: none;
	background: lightgrey;
	display: none;
}

ul li {
	display: block;
	width: 100vw;
	margin: 0;
	padding: 5%;
	font-size: 17px;
	font-weight: 500;
}

.menu-input:checked  ~ ul{
	display: unset;
}

.menu-input:checked  ~ label{
	background-color: lightgray;
}

.visible {
	display: none;
}




/*-------------------------- MAIN --------------------------*/

.two-buttons {
	display: flex;
	align-content: center;
	margin-top: 50px;
	font-size: 17px;
	font-weight: 500;
}

.button-white {
	text-decoration: none;
	padding: 15px 30px;
}

.button-learn {
	font-size: 17px;
	font-weight: 500;
	text-decoration: none;
	color: #072AC8
}

#main {
	margin-bottom: 5vh 0;
	width: 100vw;
}

#main img {
	padding: 0px;
	margin: 0px;
	width: 70vw;
}

.texts{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
	padding: 5%;
	text-align: center;
}

.texts h4 {
	margin-top: 2vh;
}

/* ------------------------LOGOS-------------------------- */

#logos {
	margin: 15vw 0;
}

#logos div{
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* --------------------RECENT PROJECTS-------------------- */

#recent-projects {
	margin-bottom: 8vh;
}

#recent-projects article {
	background-color: white;
	width: 80vw;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

#recent-projects h3{
	margin-left: 8vw;
	margin-top: 5vw;
}

#recent-projects h5{
	margin-left: 8vw;
	margin-top: 1vw;
}

#recent-projects a{
	margin-left: 8vw;
	margin-top: 5vw;
	margin-bottom: 8vw;
}


/* ------------------------------ OPINIONS------------------ */

#opinions {
	margin-bottom: 8vh;
	height: 50vh;
	padding: 5vh 0;
	position: relative;
	background-color: #292E47;
	background-image: url("https://res.cloudinary.com/dmcofgm8p/image/upload/v1658237000/Midproject_Images/Orbit_uw90mo.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
}

#opinions h3 {
	margin-top: 6vh;
	margin-bottom: 6vh;
}

.disposition{
	width: 100vw;
	margin-right: auto;
   	margin-left: auto;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.emoji1 {
	position: absolute;
	top: 50px;
	left: 50px;
}

.emoji2 {
	position: absolute;
	top: 50px;
	right: 50px;
}

.emoji3 {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.emoji4 {
	position: absolute;
	bottom: 50px;
	left: 50px;
}

.profile-pic {
width: 15vw;
height: 15vw;
}

.personal-opinion {
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 5vh;
	width: 80vw;
	align-items: center;
	justify-content: space-around;
}

.card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 3vw;
}
.card-texts {
	display: flex;
	flex-direction: column;
	justify-items: center;

	align-items: flex-start;
}


/* --------------------- SERVICES ------------------------*/

#services {
	margin-bottom: 8vh;
}

#services article {
	background-color: white;
	width: 60vw;
	display: flex;
	flex-direction: column;
	gap: 4vh;
	padding: 10%;
}

#services img {
	width: 20vw;
}


/* ---------------QUESTIONS------------------ */

#questions {
	margin-bottom: 8vh;
	background-color: #FFC600;
	height: 50vh;
	/* padding: 5vh 0;
	position: relative; */
}

.box {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3vh;
	margin: 0;
	text-align: center;


}

/* .box{

	padding: 130px 0;
	max-width: 1300px;
	margin-right: auto;
    margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: left;
} */

form {
	width: 70vw;;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .form form {
	display: flex;
	justify-content: center;
	gap: 20px;
} */

form input{

}

form img {
	position: absolute;
	width: 10px;
	height: 10px;
}

#questions button {
	width: 50vw;
	/* padding: 3vh 15vw; */
	background-color: #072AC8;
	margin-bottom: 50px;
	font-size: 17px;
	font-weight: 500;
	color: white;
	border: none;
}

#questions input {
	width: 50vw;
	/* padding: 3vh 100px; */
	background-color: white;
	margin-bottom: 50px;
	font-size: 17px;
	font-weight: 500;
	color: white;
	border: none;
}

/* FOOTER */

#footer {
	margin-top: 100px;
}

#footer a {
	
}

